.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.bgTest {
  /* background-color: red; */
}

#main-display {

  color: rgb(242 16 90);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .center {
  color: rgb(242 16 90);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
}

.quote-text {
  max-width: 50%;
  display: inline-block;
  color: rgb(242 16 90);
  line-height: 32px;
} */